/*
-- Links
*/
button.primary-button {
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  a.button-link.large {
    font-size: 2.2rem;
    height: 54px;
  }
  
  a.button-link,
  a.link,
  button.primary-button {
    height: 44px;
    display: inline-flex;
    align-items: center;
    align-self: flex-start;
  }
  
  a.button-link,
  button.primary-button {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--sec-text-color);
    background-color: var(--main-color);
    padding: 0 var(--space-xlm);
    transition: box-shadow 0.2s linear, background-color 0.1s linear;
    -moz-transition: box-shadow 0.2s linear, background-color 0.1s linear;
    -webkit-transition: box-shadow 0.2s linear, background-color 0.1s linear;
    -o-transition: box-shadow 0.2s linear, background-color 0.1s linear;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  
  a.button-link:hover,
  button.primary-button:hover {
    box-shadow: 0 5px 12px 0 var(--main-color-op);
    -moz-box-shadow: 0 5px 12px 0 var(--main-color-op);
    -webkit-box-shadow: 0 5px 12px 0 var(--main-color-op);
    -o-box-shadow: 0 5px 12px 0 var(--main-color-op);
  }
  
  /*
  -- Buttons with icons animation
  */
  a.icon-animation i,
  button.icon-animation i {
    transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
  }
  
  a.icon-animation:hover i,
  button.icon-animation:hover i {
    transform: translateX(var(--space-sm));
  }
  
  a.button-link:focus,
  button.primary-button:focus {
    box-shadow: 0 0 0 0.4rem var(--main-color-op);
    -moz-box-shadow: 0 0 0 0.4rem var(--main-color-op);
    -webkit-box-shadow: 0 0 0 0.4rem var(--main-color-op);
    -o-box-shadow: 0 0 0 0.4rem var(--main-color-op);
    outline: none;
  }
  
  a.button-link:active,
  button.primary-button:active {
    background-color: var(--button-active-bg-color);
  }
  
  a.link {
    margin: 0 var(--space-l);
    transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
  }
  
  a.link:hover {
    color: var(--main-color);
  }
  
  /*
  -- Text
  */
  h1 {
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.2;
  }
  
  h2 {
    font-size: 3.8rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: "Roboto Slab", serif;
  }
  
  h3 {
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.6;
  }
  
  p {
    font-size: 2rem;
  }
  
  p.small {
    font-size: 1.4rem;
  }
  
  p.grey {
    color: var(--ter-text-color);
  }
  
  a {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--main-text-color);
  }
  
  .brand-name {
    line-height: 1.6;
  }
  
  .underline {
    position: relative;
    z-index: var(--underline-z-index);
    display: inline-flex;
  }
  
  .underline:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 10px;
    background-color: var(--underline-color);
    z-index: var(--underline-after-z-index);
    right: 0;
  }
  